# Ignore data folder
data/

# Ignore figures folder
figures/

# VS Code settings
.vscode/

.DS_Store

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/

# Ignore all JSON and CSV files
*.json
*.csv
